<app-categories></app-categories>
<body>
    <div class ="container" id="centered">

        <table border="1" class="table table-striped" id="customers">
            <thead>
            <tr>
              <th>Product Id</th>
              <th>Product Name</th>
              <th>Product Weight</th>
              <th>Product Price</th>
              <th>Add to cart</th>
             
              
        
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cl of fruits">
                    <td>{{cl.fid}}</td>
                    <td>{{cl.fname}}</td>
                    <td>{{cl.fweight}}</td>
                    <td>{{cl.fprice}}</td>
                    <td><button (click)="addtocart(cl)">add to cart</button></td>
                   
                    </tr>
            </tbody>
              </table>
        
    
    </div>
    
</body>

